.page-content {
	min-height:85vh;
}

.table>tbody>tr.active.not-active>td,
.table>tbody>tr.active.not-active>th,
.table>tbody>tr>td.active.not-active,
.table>tbody>tr>th.active.not-active,
.table>tfoot>tr.active.not-active>td,
.table>tfoot>tr.active.not-active>th,
.table>tfoot>tr>td.active.not-active,
.table>tfoot>tr>th.active.not-active,
.table>thead>tr.active.not-active>td,
.table>thead>tr.active.not-active>th,
.table>thead>tr>td.active.not-active,
.table>thead>tr>th.active.not-active {
    background-color: initial;
}

.content-box-info .content-box-header {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-bottom: 1px solid transparent;
}

.content-box-info .box-with-header {
	border-color: #bce8f1;
}

.btn-250 {
	min-width:250px;
	margin-bottom:10px;
}

.btn-100 {
	min-width:100px;
}

.margin-left-10 {
	margin-left:10px;
}

.select2-container .select2-selection--single {
    height: 34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px!important;
}

.label-as-badge {
    border-radius: 1em;
}

.btn.btn-xs {
	padding: 1px 5px;
}

td .btn.btn-xs {
	margin-bottom:5px;
}


#search-form .select2-container .select2-selection--single {
    height: 30px!important;
}
