{% extends "base.html" %}
{% load i18n %}
<title>{% block title %}{{site.name}}{% endblock %}</title>
{% block all_content %} 
	<div class="content-box-header panel-heading">
		<div class="panel-title ">{% trans "Welcome to ProBSC" %}</div>
	</div>
	<div class="content-box-large box-with-header">
		<p>
		{% trans "A Balanced Scorecard is not just a scorecard. When designed properly it can provide an excellent management tool to help keep businesses and organisations on track." %}
		</p>
		<p>
		{% trans "ProBSC automates The Balanced Scorecard" %}
		</p>
	</div>  
{% endblock %}