{% extends "base.html" %}
{% load i18n django_tables2 crispy_forms_tags staticfiles %}

{% block page_title %} {{object.user.userprofile.get_name}} | {{object.name}} {{verbose_name}} {% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'jquery.growl/stylesheets/jquery.growl.css' %}" type="text/css" />
{% endblock %}

{% block page_content %} 
	<div class="row">
		<div class="col-md-12 content-box-info">
			<div class="content-box-header">
				{{object.user.userprofile.get_name}} - {{object.name}} {{verbose_name}}
			</div>
			<div class="content-box-large box-with-header">
				{% render_table table %}
			</div>
		</div>
	</div>
	<!-- Initiatives Modal -->
	<div class="modal fade" id="inititativeModal" tabindex="-1" role="dialog" aria-labelledby="inititativeModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="inititativeModalLabel">{% trans "Initiatives" %}</h4>
	      </div>
	      <div class="modal-body" id="inititativeModal-body"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Scores Modal -->
	<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="scoreModalLabel">{% trans "Scores" %}</h4>
	      </div>
	      <div class="modal-body" id="scoreModal-body"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block extrajs %}
	<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/js.cookie.js' %}"></script>
	<script src="{% static 'jquery.growl/javascripts/jquery.growl.js' %}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
{% endblock %}
{% block footerjs %}
	<script>
		$(document).on('click', '.list-initiative-button', function(event) {
			event.preventDefault();
			var thisID = $(this).data("pk");
			var listInitiativeSnippetURL = '{% url "scorecards:snippet_list_initiatives" 0 %}'.replace (0, thisID);
			$("#inititativeModal-body" ).load(listInitiativeSnippetURL, function(){
				$('#inititativeModal').modal();
			});
		});

		$(document).on('click', '.add-initiative-button', function(event) {
			event.preventDefault();
			var thisID = $(this).data("pk");
			var initiativeSnippetURL = '{% url "scorecards:snippet_add_initiative" 0 %}'.replace (0, thisID);
			$("#inititativeModal-body" ).load(initiativeSnippetURL, function(){
				$('#id-initiative-date').datepicker({
					'format': 'yyyy-mm-dd',
					'autoclose': true,
					'todayBtn': true,
					'todayHighlight': true
				});
				$('#inititativeModal').modal();
			});
		});

		$(document).on('click', '.add-score-button', function(event) {
			event.preventDefault();
			var thisID = $(this).data("pk");
			var scoreSnippetURL = '{% url "scorecards:snippet_add_score" 0 %}'.replace (0, thisID);
			$("#scoreModal-body" ).load(scoreSnippetURL, function(){
				$('#id-score-date').datepicker({
					'format': 'yyyy-mm-dd',
					'autoclose': true,
					'todayBtn': true,
					'todayHighlight': true
				});
				$('#scoreModal').modal();
			});
		});

		$('#inititativeModal').on('hide.bs.modal', function (e) {
			$("#inititativeModal-body" ).html();
		});

		$('#scoreModal').on('hide.bs.modal', function (e) {
			$("#scoreModal-body" ).html();
		});

		$(document).on('submit','#initiative-form',function(event){
 			event.preventDefault();
 			var initiative_form = '#initiative-form';
 			var url = '{% url "scorecards:process_initiative_form" %}';
 			$.ajax({
 				url: url,
 				type: "POST",
 				data: $(initiative_form).serialize(),
 				dataType: 'json',
 				success: function(data) {				    	
 					if (!(data['success'])) {
 						$(initiative_form).replaceWith(data['form_html']);
 					}
 					else { 
 						$('#inititativeModal').modal('hide');
 						$.growl.notice({ 
 							location: 'tr',
 							message: '{% trans "Successfully added initiative" %}' 
 						});
 					}
 				},
 				error: function () {
 					$(initiative_form).find('.error-message').show();
 				}
 			});
 		});

 		$(document).on('submit','#add-score-form',function(event){
 			event.preventDefault();
 			var score_form = '#add-score-form';
 			var url = '{% url "scorecards:process_score_form" %}';
 			$.ajax({
 				url: url,
 				type: "POST",
 				data: $(score_form).serialize(),
 				dataType: 'json',
 				success: function(data) {				    	
 					if (!(data['success'])) {
 						$(score_form).replaceWith(data['form_html']);
 					}
 					else { 
 						$('#scoreModal').modal('hide');
 						$.growl.notice({ 
 							location: 'tr',
 							message: '{% trans "Successfully added score" %}' 
 						});
 					}
 				},
 				error: function () {
 					$(initiative_form).find('.error-message').show();
 				}
 			});
 		});
	</script>
{% endblock %}